.sub{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: url('../../Assets/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main  {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.header{
font-size:46px ;
font-family: sans-serif;
width: 100%;
height: 25vh;
}
.header img{
    padding-left: 30px;
    width: 450px;
}
.login{
    display: flex;
    /* flex: 1; */
    /* background-color: white; */
    width: inherit;
    justify-content: center;
    margin-top: 20px;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26%;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 10px;
}
.card form{
  display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10px; */
    width: 66%;
}
.card p{
  width: 100%;
  /* height: 2vh; */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  /* background-color: white; */
  color: #3b3a3a;
  /* margin-bottom: 35px; */
  margin: 0px 0px 25px 0px;

}
#label{
    font-size: 15px;
    font-family: sans-serif;
    color: black;
}
.input-box{
  width: 100%;
  height: 60px;
  margin: 0px 0px 10px 0px;
  /* padding: 0px 10px 0px 10px; */
}
.input-box input{
    width: 100%;
    height: 50%;
    background-color: white;
    border: 1px solid #b4b4b4;
    /* outline: none; */

    border-radius: 5px;
    color: black ;
    margin:5px 0 0 0;
    font-size:15px;
    font-family: sans-serif;
    padding-left: 10px;
    /* padding-left:20px;
    padding-right: 0; */
}
.login-link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
}
.login-link a{
    margin: 0px 15px 0 15px;
    color: whitesmoke;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 15px;
}
.login-link a:hover{
    text-decoration: underline;
}
.button{
    color: whitesmoke;
    background-color:#123361;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
.button:active{
    background-color: rgb(18, 31, 168);
    transform: translateY(4px);
}
.button:hover{
    background-color: rgb(18, 31, 168);
}

.footer{
  position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p{
  color: white;
  font-family: sans-serif;
}
